.emotion-meter

  &__container
    display: none
    margin-bottom: 60px
    &--active
      display: block

  &__header
    margin-top: 100px
    margin-bottom: 100px

  &__input
    display: none

    &:checked + label
      background: red

  &__label
    padding: 15px
    background: #222
    margin: 0 3px
