.graph-scope

  &__select
    border: $bstandard
    color: $cprimo
    padding: $sbase $sbase * 1.5
    border-radius: $brad
    font-weight: $fbold
    font-size: $fsize
    background: transparent
    cursor: pointer

  &__option
    color: $cprimo
    font-weight: $fbold
    font-size: $fsize
    background: $clight
