.nav-header
  display: flex
  justify-content: space-between
  padding: 10px 0 30px
  margin-bottom: 40px

  &__logo
    color: #a88ee6
    font-weight: 700
    font-size: 30px

  &__button
    border: 2px solid #a88ee6
    color: #a88ee6
    padding: 10px 15px
    border-radius: 3px
    font-weight: 700
    cursor: pointer
    // text-shadow: 0 1px 0px rgba(255,255,255,1)