//COLORS
$cprimo: #a88ee6
$cdark: #222
$clight: #fff

//SIZES
$sbase: 10px
$sdouble: $sbase * 2
$striple: $sbase * 3
$squad: $sbase * 4

//FONTS
$ffam: 'Roboto'
$freg: 14px
$flg: 21px
$fxl: 28px
$fxxl: 42px
$fxxl: 84px
$fweight: 400
$fbold: 700
$flight: 200

//BORDERS
$bstandard: 2px solid $cprimo
$brad: 3px