@import '../node_modules/roboto-fontface/css/roboto/roboto-fontface.css'

@import 'styles/emotion-meter'
@import 'styles/mood-logger'
@import 'styles/test-completed'
@import 'styles/nav-header'
@import 'styles/graph-filters'
@import 'styles/graph-scope'
@import 'styles/dashboard'

body
  background: #222
  color: #333
  font-family: 'Roboto'

.app
  &__container
    padding: 20px
    text-align: center