@import '../node_modules/roboto-fontface/css/roboto/roboto-fontface.css'

@import 'styles/emotion-meter'
@import 'styles/mood-logger'
@import 'styles/test-completed'
@import 'styles/nav-header'
@import 'styles/graph-filters'
@import 'styles/graph-scope'
@import 'styles/dashboard'
@import 'styles/screen-mode'

.app
  &__container
    font-family: 'Roboto'
    height: 100vh
    color: #333
    padding: 20px
    text-align: center

    &.dark
      background: #222

    &.light
      background: #fff
